node_modules
.turbo
dist
build
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.DS_Store
coverage
.nyc_output
package-lock.json
yarn.lock
pnpm-lock.yaml
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.log
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.cache
*.zip
*.tar.gz
*.tgz
